/* Importando os arquivos .css da pasta styles - deixando as chamadas num só lugar */
@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("/styles/tópicos.css");
@import url("/styles/contato.css");
@import url("/styles/rodapé.css");

/* Variáveis de cores e fontes usadas no projeto */
:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9800;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
    --fonte-secundaria: "Josefin Sans";
    --preto: #000000; 
    --cinza: #474646;
    --cinza-claro: #858585;
}

/* Padrões utilizados por padrão no projeto */
body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}